* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

/* ===== CABEÇALHO ===== */
.top-header {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom,
      #2d8427 0%,
      #2d8427 50%,
      #2ecc38 50%,
      #2ecc38 80%,
      #a2ff70 80%,
      #a2ff70 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.top-header img {
  height: 85px;
  width: auto;
}

/* Botão hambúrguer */
.menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 32px;
  cursor: pointer;
  color: white;
  z-index: 3000;
}

/* Menu suspenso */
#menu {
  position: absolute;
  right: 20px;
  top: 75px;
  background: rgba(19, 102, 16, 0.90);
  width: 180px;
  border-radius: 10px;
  padding: 10px 0;
  z-index: 1500;
  transition: 0.3s ease;
}

.menu-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}

#menu ul {
  list-style: none;
}

#menu ul li {
  padding: 12px 20px;
}

#menu ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

/* --- MAPA FIXO NO TOPO --- */
#map {
  width: 100%;
  height: 800px;
  margin-top: 75px; /* Altura do cabeçalho */
  border-radius: 15px;
  overflow: hidden;
}


/* --- ÁREA DO CONTEÚDO QUE DESCE --- */
.conteudo {
  padding: 20px;
}

/* ====== ESTILO DO CONTAINER DO MAPA ====== */
.mapa-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  /* abaixo do cabeçalho */
  margin-bottom: 180px;
}

.mapa-container {
  width: 100%;
  max-width: 900px;
  background: #83f396;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px #00000030;
}

/* Rodapé */
footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #4caf50;
}

footer img {
  height: 32px;
}
