/* Reset e configurações básicas */
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.reset-box {
  background-color: #b8e6b7; /* verde musgo suave */
  border: 2px solid #2e4b23; /* verde escuro */
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  color: #161515; /* deixa o texto legível sobre o fundo escuro */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.mascote {
  width: 120px;
  height: auto;
  margin-bottom: 15 px;
  transition: all 0.3s ease;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #2e7d32;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.toggle-eye {
  width: 28px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  background: #0b2d0b;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}
button:hover {
  background: #0a260a;
}

/* Rodapé */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 0;
  background: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #4caf50;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #2e7d32;
}

footer img {
  height: 36px;
  width: auto;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


